[bumpversion]
current_version = 0.4.0
commit = True
tag = True
parse = ^
	(?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)
	((?P<pre>a|b|rc)
	)?
serialize = 
	{major}.{minor}.{patch}{pre}
	{major}.{minor}.{patch}

[bumpversion:part:pre]
optional_value = _
values = 
	_
	a
	b
	rc

[bumpversion:file:cmd/root.go]
search = git-utils v{current_version}
replace = git-utils v{new_version}

[bumpversion:file:README.md]
search = git-utils v{current_version}
replace = git-utils v{new_version}

[bumpversion:file:utils/update_checker.go]
search = v{current_version}
replace = v{new_version}
